.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px; /* 2~8 물체 가운데 정렬하기*/
	border-radius: 2px; /* 테두리 둥글게 만들기 */
	box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
	background: linear-gradient(to top right, #f586ff 0%, #a6fcff 100%); /*배경색 그라데이션 넣기*/
	font-family: 'Courier New';
	color: #fff;
  }

  .center { /*중앙 정렬*/
	position: absolute;
	top: 50.8%;
	left: 50.5%;
	transform: translate(-50%,-50%); 
  }
  
  .number {
	position: relative;
	height: 100px;
	width: 200px;
  }
	.one-one {
	  position: absolute;
	  z-index: 1; /*각각의 z축 위치 설정*/
	  top: 0;
	  left: -16px;
	  height: 40px;
	  width: 20px;
	  background: #fff;
	  border-radius: 3px;
	  transform: rotate(50deg); /*회전 주기*/
	  box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
	}
  
	.one-two {
	  position: absolute;
	  z-index: 10;
	  top: 0;
	  left: 0px;
	  height: 100px;
	  width: 24px;
	  background: #fff;
	  border-radius: 3px;
	  box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
	}
  
	.zero-one, 
	.zero-two {
	  position: absolute;
	  z-index: 8;
	  top: 0;
	  left: 17px;
	  box-sizing: border-box; /*테두리 포함하여 크기 설정*/
	  height: 100px;
	  width: 100px;
	  border-radius: 50%; /*완전한 원*/
	  border: 24px solid #fff;
	  box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
	}
  
	.zero-two {
	  z-index: 6;
	  left: 100px; /*각각의 원 위치 다르게*/
	}
  
  .big {
	position: relative;
	z-index: 20;
	display: block; /*줄바꿈*/
	font-size: 82px;
	line-height: 60px;
	text-transform: uppercase; /*대문자 설정*/
	font-weight: 700;
	margin-top: 6px;
  }
  
  .small {
	position: relative;
	z-index: 20;
	display: block; 
	font-size: 23px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .04em; /*자간*/
  }